# Default ignored files
/shelf/
/workspace.xml
/DataTransfer.iml
/misc.xml
/material_theme_project_new.xml
/inspectionProfiles/profiles_settings.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/dataTransfer.iml
